* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #7b5e00;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fffdf6;
}

.main-title {
    display: flex;
    align-items: center; /* Align items vertically */
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.main-title p {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

.main-title i{
    font-size:  25px;
    margin-left: 380px;
    margin-right: auto;
    text-decoration: none;
    margin-top: 5px;
    cursor: pointer;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.task-details {
    background-color: #fff9d7;
    border: 2px solid #7b5e00;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    overflow-y: auto; /* Add overflow-y to enable vertical scrolling */
    max-height: calc(100vh - 100px); /* Set maximum height */
}

.task-info {
    margin-bottom: 30px;
}

.info-item {
    margin-bottom: 15px;
}

.info-label {
    font-weight: bold;
}

.info-value {
    margin-left: 10px;
}

.file-links a {
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.file-links a:hover {
    color: #0056b3;
}

.task-history h2 {
    margin-bottom: 15px;
    font-size: 17px;
    text-align: center;
}

.history-table {
    display: flex;
    flex-direction: column;
}

.history-row {
    display: flex;
    border-bottom: 2px solid #7b5e00;
}

.history-cell {
    flex: 1;
    padding: 10px;
}

.progress-bar-container {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #6f5f00;
    border-radius: 10px;
    border: 1px solid #6f5f00;
    overflow: hidden;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ffdb0e;
    border-radius: 10px;
    animation: progress-animation 2s ease forwards;
}
.history-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.history-row {
    display: flex;
    border-bottom: 2px solid #7b5e00;
}

.history-cell {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

@keyframes progress-animation {
    from {
        width: 0;
    }
}

button {
    display: inline-block;
    padding: 6px;
    width: 130px; 
    height: 40px;
    margin: 8px;
    background-color: #fff2a8;
    border: 2px solid#7b5e00;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

button i{
    padding-right: 6px;
    font-size: 17px;
}

button:hover{
    cursor: pointer;
    background-color: #7b5e00;
    color: #fff2a8;
}

button:hover i{
    color:#fff2a8;
}