* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

:root { 
    --background-color1: #fafaff; 
    --background-color2: #ffffff; 
    --background-color3: #ededed; 
    --background-color4: #cad7fda4; 
    --primary-color: #4b49ac; 
    --secondary-color: #0c007d; 
    --Border-color: #3f0097; 
    --one-use-color: #3f0097; 
    --two-use-color: #5500cb; 
} 

body {
    background-color: var(--background-color4);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.main-container {
    position: relative;
    min-height: calc(100vh - 110px); /* Adjusted to consider header height */
    left: 18px; /* Set the initial left position to match the closed sidebar width */
    top: 0;
    width: 80px;
    width: calc(100% - 90px);
    transition: all 0.5s ease;
    z-index: 2;
    grid-area: main;
    overflow-y: hidden;
    flex: 1;
    margin-top: 110px;
}
  
.sidebar.open ~ .main-container {
    left: 190px; /* Adjust the left position when the sidebar is open */
    width: calc(100% - 110px);
    margin-left: -80px; 
}

.main-title {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 170px;
    margin-bottom: 20px;
}

.icon-container {
    display: flex;
    align-items: center; /* Align button vertically with title */
    margin-left: 670px;
}

.icon {
    align-items: center;
    cursor: pointer;
    display: flex;
}

/* Button styles */
.icon button {
    font-size: 16px;
    color: var(--background-color1);
    padding: 10px;
    width: 130px;
    height: 41px;
    background-color: var(--secondary-color);
    outline: none;
    border-radius: 10px;
}

.icon i {
    padding-right: 8px;
}

.icon button:hover {
    background-color: var(--background-color3);
    color: var(--secondary-color);
}

.table-container {
    display: flex;
    margin-left: 170px; 
    align-items: center; /* Vertically center the table */
    overflow-x: auto; /* Add horizontal scroll if needed */
}

table, th, td {
    width: auto;
    height: 50px;
    padding: 10px;
}

th, td {
    word-wrap: break-word;
    width: 140px;
    font-size: 16px;
}

td{
    font-family: 'Montserrat', sans-serif;
}

table {
    overflow-x: scroll;
    border-collapse: collapse;
    border: 1px solid var(--one-use-color);
}

thead tr{
    text-align: center;
    background-color: var(--background-color3);
}

tbody tr {
    margin: 5px;
    text-align: center;
    background-color: var(--background-color2);
}

thead th .class, 
tbody td .class{
    width: 120px;
}

.button-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
}

.button-container a {
    text-decoration: none; /* Remove default link underline */
}

.button-container button {
    display: inline-block;
    font-size: 14px;
    padding: 6px;
    width: 89px; 
    margin-right: 5px;
    height: 40px;
    background-color: #65a3ff;
    border: 1px solid #00197b;
    border-radius: 10px;
    cursor: pointer;
}

.button-container button i {
    padding-right: 4px;
}

.button-container button:hover {
    background-color: #0a007b;
    color: #fffdf3;
}

.button-container button:hover i {
    color: #fffdf3;
}

.search-container {
    display: flex; 
    align-items: center; 
    justify-content: left;
}

#search-input {
    width: 250px; 
    height: 42px; 
    border-radius: 50px 0 0 50px; 
    background-color: var(--background-color1); 
    padding: 0 20px; 
    font-size: 15px; 
    outline: none; 
    border: none; 
}

#search-button {
    width: 50px; 
    height: 42px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 0px 50px 50px 0px;
    color: var(--background-color1);
    background-color: var(--secondary-color); 
    cursor: pointer; 
    border: none;
}

/* Task Status Admin CSS */

.table-container-status {
    display: flex;
    margin-left: 170px; /* Horizontally center the table */
    align-items: center; /* Vertically center the table */
    overflow-x: auto; /* Add horizontal scroll if needed */
}

.status-filter {
  margin-left: 170px;
}

#status-select {
    padding: 8px;
    width: 120px;
    font-size: 16px;
    border-radius: 8px;
}

.search-container-two {
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-left: 470px;
}

.menu-task{
    display: flex; 
    margin-bottom: 20px;
    justify-content: left;
}

.history-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    min-height: 100vh; 
}