* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Montserrat", sans-serif;
} 

:root { 
    --background-color1: #fafaff; 
    --background-color2: #ffffff; 
    --background-color3: #ededed; 
    --background-color4: #cad7fda4; 
    --primary-color: #4b49ac; 
    --secondary-color: #0c007d; 
    --Border-color: #3f0097; 
    --one-use-color: #3f0097; 
    --two-use-color: #5500cb; 
} 

body { 
    background-color: var(--background-color4); 
    max-width: 100%; 
    overflow-x: hidden; 
} 

.main-container {
    position: relative;
    min-height: 100vh;
    left: 18px; /* Set the initial left position to match the closed sidebar width */
    top: 0;
    width: 80px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
}

.sidebar.open ~ .main-container {
    left: 190px; /* Adjust the left position when the sidebar is open */
    width: calc(100% - 170px);
    overflow-y: hidden;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px; /* Adjusted maximum width */
    width: 100%; /* Adjusted width */
    background-color: var(--background-color3);
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 0 10px darkslategrey;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.container .task-form-container,
.container .intern-form-container {
    margin: 10px;
}

.container h3 {
    color: black;
    font-weight: 600;
    margin: 0;
}

.container i {
    text-decoration: none;
    color: #1c1c1e;
    cursor: pointer;
    font-size: 26px;
}

.container input {
    border: none;
    border-radius: 5px;
    width: 100%; /* Adjusted width */
    height: 40px;
    margin-bottom: 10px;
    padding: 7px;
    font-size: 14px;
}

.container button {
    color: black;
    background-color: #65a3ff;
    border: 1px solid #00197b;
    outline: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}

.container button:hover {
    background-color: #0a007b;
    color: #fffdf3;
    cursor: pointer;
}

.container .intern-con-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    margin-bottom: 16px; 
}

.container .intern-form-container {
    width: 100%; 
}

.container .input-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
}

.container .input-group label {
    flex-basis: 140px;
    margin-bottom: 6px;
    font-size: 14px;
    margin-right: 2px;
}

.container .input-group input[type="text"]{
    height: 45px;
}

.container .input-group input[type="text"],
.container .input-group textarea {
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.container .input-group .birth,
.container .input-group .start,
.container .input-group .complete {
    flex: 1; /* Distribute available space evenly among flex items */
}

.container .input-group .birth label,
.container .input-group .start label,
.container .input-group .complete label {
    margin-bottom: 16px;
}

.container .input-group .birth input[type="date"],
.container .input-group .start input[type="date"],
.container .input-group .complete input[type="date"] {
    width: 225px; /* Adjust width of date and time inputs */
    margin-top: 10px;
    margin-right: 16px;
}

.task-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px; /* Adjusted maximum width */
    width: 100%; /* Adjusted width */
    background-color: var(--background-color3);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px darkslategrey;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-container .task-con-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Adjusted width */
    margin-bottom: 20px; /* Adjusted margin */
}

.task-container .task-con-title h3 {
    color: black;
    font-weight: 600;
    margin: 0;
}

.task-container .task-con-title i {
    text-decoration: none;
    color: #1c1c1e;
    cursor: pointer;
    font-size: 26px;
}

.task-container .task-form-container {
    width: 100%; /* Adjusted width */
}

.task-container .input-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
}

.task-container .input-group label {
    margin-bottom: 5px;
    font-size: 14px;
    margin-right: 5px;
}

.task-container .input-group input,
.task-container .input-group textarea,
.task-container .input-group select {
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.task-container .input-group input,
.task-container .input-group select{
    height: 40px;
}

.task-container .input-group .assign,
.task-container .input-group .submission {
    flex: 1; /* Distribute available space evenly among flex items */
    display: flex;
    flex-direction: column; /* Stack items vertically */
}

.task-container .input-group .assign label,
.task-container .input-group .submission label {
    margin-bottom: 5px; /* Add space between label and input */
}

.task-container .input-group .assign input[type="date"],
.task-container .input-group .submission input[type="date"],
.task-container .input-group .assign input[type="time"],
.task-container .input-group .submission input[type="time"] {
    width: 372px; /* Adjust width of date and time inputs */
    margin-right: 16px;
}

.task-container .input-group input[type="file"]{
    border: none;
}

.task-container .input-group input[type="text"]{
    height: 40px;
    padding: 6px;
}

.task-container .btn {
    width: 100%;
    background-color: #65a3ff;
    border: 1px solid #00197b;
    color: black;
    outline: none;
    height: 40px;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task-container .btn:hover {
    background-color: #0a007b;
    color: #fffdf3;
}