* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Montserrat", sans-serif;
} 

:root { 
    --background-color1: #fafaff; 
    --background-color2: #ffffff; 
    --background-color3: #ededed; 
    --background-color4: #cad7fda4; 
    --primary-color: #4b49ac; 
    --secondary-color: #0c007d; 
    --Border-color: #3f0097; 
    --one-use-color: #3f0097; 
    --two-use-color: #5500cb; 
} 

body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.profile-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 50px auto;
    padding: 30px;
    background-color: var(--background-color3);
    border-radius: 8px;
    box-shadow: 0 0 10px darkslategrey;
}

.profile-container i {
    text-decoration: none;
    color: #1c1c1e;
    cursor: pointer;
    font-size: 26px;
}


.profile-card, .admin-info {
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
}

.profile-card {
    text-align: center;
}

.profile-card h3{
    margin: 16px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

#profile-pic-input {
    display: flex;
    width: 250px;
    border: none;
    margin-left: 120px;
}

.social-media img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.admin-info {
    text-align: center;
}

.admin-info h2{
    margin-bottom: 16px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

span, input {
    padding: 8px 12px;
    border-radius: 6px;
    width: 200px;
    height: 40px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    display: inline-block;
}

button {
    padding: 8px 16px;
    height: 40px;
    width: 200px;
    background-color: #65a3ff;
    border: 1px solid #00197b;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0a007b;
    color: #fffdf3;
}
